<!DOCTYPE html>
<html>
  <head>
    <title>Randall Song</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= favicon_link_tag 'large.ico' %>

    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
  </head>



  <body>

		<!-- Sidebar -->
			<section id="sidebar">
				<div class="inner">
					<nav>
						<ul>
							<li><a href="#intro">Home</a></li>
							<li><a href="#one">Who I Am</a></li>
							<li><a href="#two">Skills</a></li>
							<li><a href="#three">Get In Touch</a></li>
						</ul>
					</nav>
				</div>
			</section>

		<!-- Wrapper -->
			<div id="wrapper">

				<!-- Intro -->
					<section id="intro" class="wrapper style1 fullscreen fade-up">
						<div class="inner">
							<h1 id="name">Randall Song</h1>
							<h2>Full Stack Web Developer</h2>
<!-- 							<ul class="actions">
								<li><a href="#one" class="button scrolly">About Me</a></li>
							</ul> -->
						</div>
					</section>

				<!-- One -->
					<section id="one" class="wrapper style2 spotlights">
						<section>
							<!-- <a href="#" class="image"><img src="images/pic01.jpg" alt="" data-position="center center" /></a> -->
							<div class="content">
								<div class="inner">
									<h2>Who I Am</h2>
									<p>Hello! I am a junior web developer with a focus on Ruby On Rails. I am proficient in HTML, CSS, and Javascript. In an ever-expanding environment, I am proud of my ability to improvise, adapt, and overcome any new trends in development.</p>
									<br>
									<p>My interests include most mediums of storytelling including animation, film, and video games. In my spare time I like to read graphic novels, put together model kits, and bake cookies and pastries.</p>

								</div>
							</div>
						</section>
						<section>
							<!-- <a href="#" class="image"><img src="images/pic02.jpg" alt="" data-position="top center" /></a> -->
							<div class="content">
								<div class="inner">
									<h2>Projects</h2>
									<h3>The Archives</h3>
									<p>HTML, CSS, Ruby, Rails, Postgresql</p>
									<ul>
										<li>Implemented Devise to let users securely log in/sign up, and restricts content creation to existing users</li>
										<li>Carrierwave Gem allows users to upload pictures for all user-created content</li>
										<li>Specified users (administrators) can delete content if it does not conform to the site’s rules.</li>
									</ul>
									<a style="color: white" href="https://github.com/randallsong/finalv2">Github</a>
									<p>A community web application that lets users contribute to an overarching fantasy universe with their own created content</p>

									<h3>Teacher's Assistant</h3>
									<p>Ruby, Rails, Javascript, Sendgrid API, Carrierwave</p>
									<ul>
										<li>Uses gems and Postgresql to keep track of students’ grades and averages</li>
										<li>Uses the Sendgrid API to send actual emails to parents to alert them of any situations</li>
									</ul>
									<a style="color: white" href="https://github.com/Dramalho7/teachers-pet">Github</a>
									<p>Application that expedites communication between students and teachers by keeping track of grades, and sending a status email with the click of a button by the teacher, to the parent.</p>



								</div>
							</div>
						</section>


				<!-- Two -->
					<section id="two" class="wrapper style3 fade-up">
						<div class="inner">
							<h2>Skills</h2>
							<p></p>
							<div class="features">

								<section>
									<h3><img class="icon" src="https://www.w3.org/html/logo/downloads/HTML5_Badge_256.png" width="50" height="50">HTML</h3>
									<p></p>
								</section>

								<section>
									
									<h3><img class="icon" src="https://cdn1.iconfinder.com/data/icons/logotypes/32/badge-css-3-128.png" width="50" height="50">CSS</h3>
									<p></p>
								</section>

								<section>
									<h3><img class="icon" src="https://cdn2.iconfinder.com/data/icons/designer-skills/128/code-programming-javascript-software-develop-command-language-128.png" width="50" height="50">Javascript</h3>
									<p></p>
								</section>

								<section>
									<h3><img class="icon" src="https://www.file-extensions.org/imgs/app-icon/128/3544/ruby-icon.png" width="50" height="50">Ruby</h3>
									<p></p>
								</section>

								<section>
									<h3><img class="icon" src="https://upload.wikimedia.org/wikipedia/commons/1/16/Ruby_on_Rails-logo.png" width="50" height="50">Rails</h3>
									<p></p>
								</section>

								<section>
									<h3><img class="icon" src="https://maxcdn.icons8.com/Share/icon/color/Logos//postgreesql1600.png" width="50" height="50">Postgres</h3>
									<p></p>
								</section>

					</section>

				<!-- Three -->
					<section id="three" class="wrapper style1 fade-up">
						<div class="inner">
							<h2>Get in touch</h2>
							<br>
							<br>
							<div>
								<section>
									<ul>

										<li>
											<h3>Email</h3>
											<a>randallsong149@gmail.com</a>
										</li>

										<li>
											<h3>Phone</h3>
											<span>(201) 663-2584</span>
										</li>

										<li>
											<h3>Information</h3>
											<ul class="icons">
												<li><a href="https://github.com/randallsong"><img class="icon" src="https://image.flaticon.com/icons/png/512/25/25231.png" width="50" height="50">GitHub</a></li>
												<li><a href="https://www.linkedin.com/in/randall-song145/"><img class="icon" src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/linkedin_circle_color-512.png" width="50" height="50">LinkedIn</a></li>
											</ul>
										</li>

									</ul>
								</section>
							</div>
						</div>
					</section>
			</div>


		<!-- Scripts -->

			<%= javascript_include_tag('jquery.min.js') %>
			<%= javascript_include_tag('jquery.scrollex.min.js') %>
			<%= javascript_include_tag('jquery.scrolly.min.js') %>
			<%= javascript_include_tag('skel.min.js') %>
			<%= javascript_include_tag('util.js') %>
			<%= javascript_include_tag('main.js') %>

    <%= yield %>
  </body>
</html>
